<a href="https://colab.research.google.com/github/MeenakshiRajpurohit/CMPE180A/blob/main/lab_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#break and continue
for n in range(2,10):
  for x in range(2,n):
    if n%x == 0:
      print(f'{n} equals {x} * {n//x}')
      break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for x in range(2, 10):
  if x % 2 == 0:
    print(f'{x} is even')
    continue
  print(f'{x} is odd')

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
#comprehension syntax
squares = []

for x in range(10):
  squares.append(x * x)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#dict comprehension
months_numbers = {
    'January':1,
    'February':2,
    'March':3,
    'April':4,
    'May':5,
    'June':6,
    'July':7,
    'August':8,
    'September':9,
    'October':10,
    'November':11,
    'December':12


}
#reverse the dict
months_numbers = {val:key for key, val in months_numbers.items()}
print(months_numbers)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

In [ ]:
#Advance looping
#enumerate
for i, v in enumerate(['January', 'February','March','December']):
  print(i,v)

0 January
1 February
2 March
3 December

In [ ]:
#zip
questions = ['name', 'place', 'fav food']
answers = ['meena', 'jodhpur', 'chai']
for q, a in zip(questions, answers):
  print('what is you {}?. it is {}'.format(q,a))

what is you name?. it is meena
what is you place?. it is jodhpur
what is you fav food?. it is chai

In [ ]:
#sorted
basket = ['apple','orange','apple', 'pear', 'cheery']

for fruit in sorted(set(basket)):
  print(fruit)

apple
cheery
orange
pear

In [ ]:
#Lists
A = [10, 3, 4, 4, 6, 7, 9, 1, 1, 23, 12, 10]

In [ ]:
a1 = A[2:4]
a1

[4, 4]

In [ ]:
a2 = A[2:]
a2

[4, 4, 6, 7, 9, 1, 1, 23, 12, 10]

In [ ]:
a3 = A[:2]
a3

[10, 3]

In [ ]:
a4 = A[:-1]
a4

[10, 3, 4, 4, 6, 7, 9, 1, 1, 23, 12]

In [ ]:
my_list = [1,2, 3,4]
big_list = [my_list]*3
big_list

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
big_list0 = [0] * 10
big_list0

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
my_list = [1024, 'my', 3, 9]
my_list.append(False)
my_list.append('koo')
my_list.insert(7,8)
my_list

[1024, 'my', 3, 9, False, 'koo', 8]

In [ ]:
my_list.pop()
my_list

[1024, 'my', 3, 9]

In [ ]:
my_list.reverse()
my_list

[9, 3, 'my', 1024]

In [ ]:
#append vs extend
lst = [1,2]
lst.append([3,4])
lst

[1, 2, [3, 4]]

In [ ]:
lst = [1,2]
lst.extend([3,4])
lst

[1, 2, 3, 4]

Iterate over a list of strings and for each string add each character to a list

In [ ]:
word_list = ['cat','bat']
letter_list = []
for word in word_list:
  for ch in word:
    letter_list.append(ch)
print(letter_list)

['c', 'a', 't', 'b', 'a', 't']

In [ ]:
#unique letter

word_list = ['cat', 'mat', 'bat', 'fat']
unique_letter_list = []

for word in word_list:
  for ch in word:
    if ch not in unique_letter_list:
      unique_letter_list.append(ch)
unique_letter_list

['c', 'a', 't', 'm', 'b', 'f']

In [ ]:
ls = list(''.join(x for x in word_list))
ls

['c', 'a', 't', 'm', 'a', 't', 'b', 'a', 't', 'f', 'a', 't']

In [ ]:
tmp = ''.join(x for x in word_list)
tmp

'catmatbatfat'

#try and except

In [ ]:
import math
a_number = -5
try:
  print(math.sqrt(a_number))
except:
  print('bad value for the sqaure root function')
  print('using the absolute value instead')
  print(math.sqrt(abs(a_number)))

bad value for the sqaure root function
using the absolute value instead
2.23606797749979

In [ ]:
while True:
  try:
      age = int(input('How old are you?'))
      break
  except ValueError:
    print('That is not valid age')

How old are you?a
That is not valid age
How old are you?2

In [ ]:
#Multiple except statements
num = float(input("number num"))
denom = float(input("number denom"))
print("{}/{} = {}".format(num,denom, num/denom))

number num3
number denom0

ZeroDivisionError: float division by zero

In [ ]:
while True:
  try:
    num = float(input('number num'))
    denom = float(input('number denom'))
    print('{}/{}={}'.format(num,denom,num/denom))
    break

  except ValueError:
    print('plz enter a valid float')
  except ZeroDivisionError:
    print('the denm can not be zero')

number num2
number denom0
the denm can not be zero
number num0
number denom0
the denm can not be zero
number num4
number denom4
4.0/4.0=1.0

In [ ]:
def dotProduct(a, b):
  return a

x = [1, 2, 3]
y = [4, 5, 6]

print(dotProduct(x, y))

[1, 2, 3]

In [ ]:
#functions
def factors1(n):
  results = []
  for k in range(1, n + 1):
    if n % k == 0:
      results.append(k)
  return results

In [ ]:
def factors2(n):
  for k in range(1, n+1):
    if n%k ==0:
      yield

In [ ]:
def factors3(n):
  k = 1
  while k * k < n:
    if n % k == 0:
      yield k
      yield n // k
    k = k + 1
  if k * k == n:
    yield k

In [ ]:
factors1(50)

[1, 2, 5, 10, 25, 50]

In [ ]:
factors2(50)

In [ ]:
factors3(50)