<a href="https://colab.research.google.com/github/MeenakshiRajpurohit/CMPE180A/blob/main/lab_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('welcome to the calculator')
print('Please enter all your letter grades, one per line')
print('Enter a blank line to designate the end')

points = {'A+': 4.0,'A': 4.0, 'A-':3.67, 'B+':3.33, 'B':3.0, 'B-':2.67, 'C+':2.33, 'C':2.0, 'C-':1.67 ,'D+':1.33, 'D': 1.0, 'F':0.0}

num_course = 0
total_points = 0
done = False
while not done:
    grade = input()
    if grade == '':
        done = True
    elif grade not in points:
        print("Unknown grade {0} being ignored".format(grade))
    else:
        num_course += 1
        total_points = total_points + points[grade]

if num_course > 0:
    print('your gpa is {0:.3}.'.format(total_points / num_course))

welcome to the calculator
Please enter all your letter grades, one per line
Enter a blank line to designate the end
A
A
A

your gpa is 4.0.

In [ ]:
#Simple input/ output

age = int(input('Enter your age:'))
max_heart_rate = 206.9 - (0.67 * age)
target = 0.65 * max_heart_rate
print('Your target fat-burning heart rate is', target)

Enter your age:31
Your target fat-burning heart rate is 120.9845

In [ ]:
name = input('what is your name')
print(name)

what is your nameMEENA
MEENA

In [ ]:
temperature = 98.6
origin = temperature
print('origin is:', origin)
print('temperature is:', temperature)
print(id(temperature))
print(id(origin))

origin is: 98.6
temperature is: 98.6
137928080007824
137928080007824

In [ ]:
temperature = temperature + 5
print('origin is:', origin)
print('temperature is:', temperature)

print(id(temperature))
print(id(origin))

origin is: 98.6
temperature is: 103.6
137928079999408
137928080007824

In [ ]:
type(temperature)
type(origin)

float

In [ ]:
temperature = 'warm'
type(temperature)

str

In [ ]:
#python interpreter

int('137')

137

In [ ]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
bool(-1)

True

In [ ]:
bool(0)

False

In [ ]:
type('a')

str

In [ ]:
'a' + 'a'

'aa'

In [ ]:
len('abcd')

4

In [ ]:
'abcd'[0]

'a'

In [ ]:
'abcd'[0:len('abcd')]

'abcd'

In [ ]:
n = input('enter int value')

enter int value5

In [ ]:
#Literals
name = 'meenakshi'
age = str(31)
name
age

'31'

In [ ]:
names = [name, 'kin', 'jhon']
char = list('aeiou')
print(names)

['meenakshi', 'kin', 'jhon']

In [ ]:
print(id(names))

137928079014528

In [ ]:
names.append('mike')
print(names)
print(id(names))

['meenakshi', 'kin', 'jhon', 'mike']
137928079014528

In [ ]:
char

['a', 'e', 'i', 'o', 'u']

In [ ]:
char = list('aeiou')
char

['a', 'e', 'i', 'o', 'u']

In [ ]:
#numbers
28%2 #modulus (remainder)
23%2

1

In [ ]:
28 // 2 #division

14

In [ ]:
#conditionals
x = 200
if x % 2 == 0:
  if x % 3 == 0:
    print('divisible by 2 and 3')
  else:
      print("divisible by 2 and not by 3")
elif x % 3 == 0:
  print('divisible by 3 and not by 2')
else:
  print('niether divisble by 3 nor by 2')

divisible by 2 and not by 3

Enter the integer and write 2 small Python programs in 3 cells:

    Print out 'even' if the entered number is even.
    Print out 'even' if the entered number is even or 'odd' if the entered number is odd.

In [ ]:
x = 5
if x % 2 == 0:
  print('number is even')
else:
  print('number is odd')

number is odd

In [ ]:
#loops

x = 4
for i in range(0,x):
  print(i)

0
1
2
3

In [ ]:
x = 100
for i in range(0, x, 10):
  print(i)

0
10
20
30
40
50
60
70
80
90

In [ ]:
#string
'a'

'a'

In [ ]:
#set
set1 = {"red","red","green"}
print(set1) #not repeat

{'green', 'red'}

In [ ]:
set2 = set("hello")
print(set2)

{'h', 'o', 'e', 'l'}

In [ ]:
#multiple assignment
x,y = 4,5
print(x)
print(y)

## Assignment 1.3: Dict
Create dictionary `month_dict` with names of the months and the corresponding integer numbers and use functions from the corresponding lecture slide #45.
Use two for loops to print out all values and all keys of the created dictionary.

In [ ]:
month_dict = {'January':1,
              'February':2,
              'March':3,
              'April':4,
              'May':5,
              'June':6,
              'July':7,
              'August':8,
              'September':9,
              'October':10,
              'November':11,
              'December':12
              }
print(month_dict['June'])

6

In [ ]:
month_dict['undec'] = 13
print(month_dict)

{'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12, 'undec': 13}

In [ ]:
for month in month_dict:
  print(month)

January
February
March
April
May
June
July
August
September
October
November
December
undec

In [ ]:
for number in month_dict.values():
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
for month, number in month_dict.items():
  print(month, number)

January 1
February 2
March 3
April 4
May 5
June 6
July 7
August 8
September 9
October 10
November 11
December 12
undec 13

In [ ]:
#Function
#sum
def sum_to_n(n):
  sum = 0
  for i in range(n+1):
    sum = sum + 1
  return sum

In [ ]:
number_sum = sum_to_n(3)
print(number_sum)

4

This week, you slept 6.2, 7, 8, 5, 6.5, 7.1 and 8.5 hours. Calculate the average number of hours slept using a list and a for loop.

In [ ]:
hours = [6.2, 7, 8, 5, 6.5, 7.1, 8.5]
total_hours = 0
for hour in hours:
  total_hours = total_hours + hour
avg_hour = total_hours / len(hours)
print(avg_hour)

6.9